<!DOCTYPE html>
{% macro almanacTable(almanac) %}
    {% set twilights = almanac[0] %}
    {% set headers = almanac[1] %}
    {% set moonDict = almanac[2] %}
    {% set darkBright = almanac[3] %}
    {% set nCol = twilights | length %}
    <table class="table">
        <thead>
            <tr>
                {% for key in moonDict.keys() %}
                <th class="text-center"><b>{{key}}</b></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
            {% for val in moonDict.values() %}
                <td class="text-center">{{val}}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center"><b>Bright Start</b></th>
                <th class="text-center"><b>Bright End</b></th>
                <th class="text-center"><b>Dark Start</b></th>
                <th class="text-center"><b>Dark End</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">{% if darkBright.bright_start_utc %} {{darkBright.bright_start_utc}} {% else %} -- {% endif %}</td>
                <td class="text-center">{% if darkBright.bright_end_utc %} {{darkBright.bright_end_utc}} {% else %} -- {% endif %}</td>
                <td class="text-center">{% if darkBright.dark_start_utc %} {{darkBright.dark_start_utc}} {% else %} -- {% endif %}</td>
                <td class="text-center">{% if darkBright.dark_end_utc %} {{darkBright.dark_end_utc}} {% else %} -- {% endif %}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th colspan="{{nCol}}" class="text-center"><b> Twilight Times (UTC) </b></th>
            </tr>
            <tr>
            {% for key in headers %}
            <th class="text-center"><b>{{key}} </b></th>
            {% endfor %}
            </t>
        </thead>
        <tbody>
            <tr>
            {% for val in twilights %}
                <td class="text-center">{{val}}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>
{% endmacro %}
