<!DOCTYPE html>
{% extends "layout.html" %}
{% set active_page = "designDetail" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Design {{designID}}</title>
  <meta http-equiv="refresh" CONTENT="600"/>

  {#  ${header("Design Detail")} #}
{% endblock head %}

{% block body %}

<script src="../static/js/formControls.js"></script>

<script type="text/javascript">
  function changeStatus(design_id, status, mjd){
    let args = "?design_id=" + design_id;
    args += "&status=" + status;
    args += "&mjd=" + mjd;
    $.getJSON('/manualDesignCompletion/' + args, function (status) {
      if (status == "failed"){
        alert("Something went wrong!")
      }
      else{
        let statusText = document.getElementById("designStatus");
        statusText.innerText = "Status: " + status
      }
    });
  };
</script>

<div class="well">
  <div class="row">
    <div class="col-lg-3">
      <div align=center>
        <h2>Field  <a href="fieldDetail.html?fieldID={{fieldID}}&pk={{field_pk}}">{{fieldID}}</a></h2>
        <h4><b>{{observatory}}</b></h4>
        <h4>RA: {{"%.2f" % ra}}, Dec: {{"%.2f" % dec}}</h4>
        <h4>Cadence: {{cadence}}</h4>
      </div>
    </div>
    <div class="col-lg-3">
      <div align=center>
        <h2>Design {{designID}}</h2>
        <h4>Exposure Number: {{designNumber}}</h4>
        <h4 id="designStatus">Status: {{status}}</h4>
        <h4>BOSS Fibers: {{fiberCounts.boss}}</h4>
        <h4>APOGEE Fibers: {{fiberCounts.apogee}}</h4>
      </div>
    </div>
    <div class="col-lg-3">
      <div>
        <h2>Configurations</h2>
        <table class="table" style="display:block;">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Time</th>
              <th class="text-center">AP</th>
              <th class="text-center">b</th>
              <th class="text-center">r</th>
            </tr>
          </thead>
          <tbody style="height: 200px; overflow-y:scroll;">
        {% for c in configurations %}
            <tr>
              <td class="text-center">{{c.id}}</td>
              <td class="text-center">{{c.timeStamp}}</td>
              <td class="text-center">{{c.AP}}</td>
              <td class="text-center">{{c.b_camera}}</td>
              <td class="text-center">{{c.r_camera}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <button type="button" title="prepend to queue" class="btn btn-success btn-queue-manip" onclick="confirmInsertDesign({{designID}}, 1)">Prepend to queue</button>
      </div>
      <div class="row">
        <button type="button" title="insert in queue" class="btn btn-success btn-queue-manip" onclick="insertWhere({{designID}})">Insert in queue</button>
      </div>
      <div class="row">
        <button type="button" title="append to queue" class="btn btn-success btn-queue-manip" onclick="confirmAppendDesign({{designID}})">Append to queue</button>
      </div>
      <div class="row" align=center>
        <button type="button" class="btn btn-primary btn-queue-manip" onclick="changeStatus({{designID}}, 'done', {{mjd}})" {% if not isDev %} disabled {% endif %}>Mark complete</button>
      </div>
      <div class="row" align=center>
        <button type="button" class="btn btn-info btn-queue-manip" onclick="changeStatus({{designID}}, 'started', {{mjd}})" {% if not isDev %} disabled {% endif %}>Mark started</button>
      </div>
      <div class="row" align=center>
        <button type="button" class="btn btn-warning btn-queue-manip" onclick="changeStatus({{designID}}, 'not started', {{mjd}})" {% if not isDev %} disabled {% endif %}>Mark not started</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Target Summary</h2>
        <ul>
          {% for t in targets %}
            <li><a><span class="targ-name">{{t.name}}</span></a>
              <a><span class="targ-count">{{t.count}}</span></a></li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-md-4">
      <h2>1st Cartons</h2>
      <ul>
        {% for t in first_targets %}
          <li><a><span class="targ-name">{{t.name}}</span></a>
            <a><span class="targ-count">{{t.count}}</span></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


<style>
    .xaxis text {
      font: 12px sans-serif;
    }

    .xaxis line,
    .xaxis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
</style>

{% endblock body %}
