<!DOCTYPE html>
{% macro designList(designs) %}
    {% for design in designs %}
        <tr>
            <td><a href="designDetail.html?designID={{design.design_id}}">{{design.design_id}}</a></td>
            <td class="text-left"> <a href="fieldDetail.html?fieldID={{design.field_id}}&pk={{design.field_pk}}">{{design.field_id}}</a></td>
            <td class="text-left">{{"%.2f" % design.racen}}</td>
            <td class="text-left">{{"%.2f" % design.deccen}}</td>
            <td class="text-left">{{"%.2f" % design.position_angle}}</td>
            <td class="text-left">{{"%3d" % design.assigned}}</td>
            <td class="text-left">{{"%3d" % design.oassigned}}</td>
            <td class="text-left">
                {% if design.label == "done" %}
                    <span style="color:green">{{design.label}}</span>
                {% elif design.label == "started" %}
                    <span style="color:orangered;">{{design.label}}</span>
                {% else %}
                    <span>{{design.label}}</span>
                {% endif %}
            </td>
            {% for a in design.airmass %}
            <td class="align-middle text-center text-sm">
                {% if a < 1.2 %}
                        <span class="badge badge-sm badge-success">{{"%.1f" % a}}</span>
                {% elif a < 1.3 %}
                    <span class="badge badge-sm badge-info">{{"%.1f" % a}}</span>
                {% elif a < 1.4 %}
                    <span class="badge badge-sm badge-warning">{{"%.1f" % a}}</span>
                {% else %}
                    <span class="badge badge-sm badge-danger">{{"%.1f" % a}}</span>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% if design.holes and design.holes|length > 0 %}
        <tr>
            <td colspan="9" class="text-left">
                Holes: 
                {% for h in design.holes %}
                    {{h}}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
{% endmacro %}
