<div class="navbar navbar-default">
  <div class="logo">
    <a href="/" class="simple-text logo-normal"><img src="../static/images/clock.svg" style="width:30px;height:30px;">KRONOS {% if isDev %} <span style="color:red"> DEV </span> {% elif isStable %} <span style="color:green"> STABLE </span> {% endif %}</a>
  </div>

  <div class="nav">
    <ul class="nav justify-content-center">
      <li class="nav-item" {% if active_page == "planObserving" %} style="background-color: rgba(224, 45, 45, .6);" {% endif %}>
        <a class="nav-link" href="/planObserving.html">
          <p>Plan Observing</p>
        </a>
      </li>
      <li class="nav-item" {% if active_page == "lookAhead" %} style="background-color: rgba(224, 45, 45, .6);" {% endif %}>
        <a class="nav-link" href="/lookAhead.html">
          <p>Look Ahead</p>
        </a>
      </li>
      <li class="nav-item" {% if active_page == "fieldQuery" %} style="background-color: rgba(224, 45, 45, .6);" {% endif %}>
        <a class="nav-link" href="/fieldQuery.html">
          <p>Fields</p>
        </a>
      </li>
      <li class="nav-item" {% if active_page == "designQuery" %} style="background-color: rgba(224, 45, 45, .6);" {% endif %}>
        <a class="nav-link" href="/designQuery.html">
          <p>Designs</p>
        </a>
      </li>
      <li class="nav-item" {% if active_page == "fieldViz" %} style="background-color: rgba(224, 45, 45, .6);" {% endif %}>
        <a class="nav-link" href="/fieldViz.html">
          <p>Viz Preview</p>
        </a>
      </li>
      <li class="nav-item" {% if active_page == 'mjdSummary' %} style="background-color: rgba(224, 45, 45, .6);" {% endif %}>
        <a class="nav-link" href="/mjdSummary.html">
          <p>Summary</p>
        </a>
      </li>
    </ul>
  </div>
  
</div>
