<!DOCTYPE html>
{% from 'almanacMacro.html' import almanacTable %}
{% from 'queueMacro.html' import obsQueueStatic %}
{% from 'exposuresMacro.html' import recentExps %}
{% extends "layout.html" %}
{% set active_page = "lookAhead" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Look Ahead</title>
  <meta http-equiv="refresh" CONTENT="600"/>

  {#  ${header("Plan Observing")} #}
{% endblock head %}

{% block body %}
<script src="../static/js/core/d3.min.js"></script>
<script src="../static/js/core/chroma.js"></script>
<script src="../static/js/vizWindow_v2.js"></script>
<script src="../static/js/drawFields.js"></script>
<script src="../static/js/formControls.js"></script>

<div class="row">
  <div class="col-lg-3">
    <div class="card card-nav-tabs" style="width: 20rem;">
      <div class="card-header card-header-danger">
        <h3> Obs Queue </h3>
        <div class="queue-row">
          <span class="queue-head">
            <a class="queue-field">Field</a>
            <a class="queue-design">Design</a>
          </span>
      </div>
      </div>
      {% if queue|length > 0 %}
        <ul class="list-group" style="height: 350px; overflow: auto">
          {{obsQueueStatic(queue)}}
        </ul>
      {% else %}
        <div style="height: 350px; overflow: auto; text-align: center; line-height: 350px;">
        </div>
      {% endif %}
    </div>
  </div>


  <div class="col-lg-3">
    <div class="card">
      <div class="card-header card-header-primary">
        <h3> MJD: {{mjd}} </h3>
      </div>
      <div class="card-body">
        <form role="form" method="get">
          <label for="mjd">Plan another MJD?</label>
          <input name="mjd" id="mjd">
        </form>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
        {{almanacTable(almanac)}}
    </div>
  </div>
</div>

<h3>Temp Viz Windows</h3>

<div class="row">
  <div class="col-md-12">
    <div class="schedViz">
      <div class="row">
        <div class = "col-md-8">
        </div>
      </div>
    </div>
  </div>
</div>


<style>
    .xaxis text {
      font: 12px sans-serif;
    }

    .xaxis line,
    .xaxis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
</style>

<script>
    const showCloudCam = false;
    // const vizObj = {{apogeeViz | tojson}};
    const backupFields = {{backups | tojson}};
    // generateViz(vizObj,".queueViz", backupFields);

    const vizObjSched = {{schedViz | tojson}};
    generateViz(vizObjSched,".schedViz", backupFields);

</script>
{% endblock body %}
