{% extends "layout.html" %}
{% set active_page = "obsMetrics" %}
{% block head %}

{% endblock head %}


{% block body %}
<script src="../static/js/highcharts.js"></script>
<script src="../static/js/exporting.js"></script>

<div id="apg2Nmetrics" style="width: 45%; float: left; padding-bottom: 70px;"></div>
<div id="apg2Smetrics" style="width: 45%; float: left; padding-bottom: 70px;"></div>

<div id="manmetrics" style="width: 45%; float: left; padding-bottom: 70px;"></div>
<div id="ebometrics" style="width: 45%; float: left; padding-bottom: 70px;"></div>

<div style="clear:both"></div>



<script>{% include 'metricsHighcharts.js' %}</script>

{% endblock body %}