<!DOCTYPE html>
{% from 'almanacMacro.html' import almanacTable %}
{% from 'queueMacro.html' import obsQueue %}
{% from 'exposuresMacro.html' import recentExps %}
{% extends "layout.html" %}
{% set active_page = "planObserving" %}

{% block head %}
  <meta name="robots" content="noindex" />
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <title>Plan Observing</title>
  <meta http-equiv="refresh" CONTENT="300"/>

  {#  ${header("Plan Observing")} #}
{% endblock head %}

{% block body %}
<script src="../static/js/core/d3.min.js"></script>
<script src="../static/js/core/chroma.js"></script>
<script src="../static/js/vizWindow-v1.6.0a.js"></script>
<script src="../static/js/formControls-v1.7.0.js"></script>

{%if observatory == 'APO'%}
<script src="../static/js/drawFields-v1.0.0.js"></script>
{% else %}
<script src="../static/js/drawFields_lco.js"></script>
{% endif %}

<div class="row">
  <div class="col-lg-4">
    <div class="card card-nav-tabs" id="queue" style="width: 25rem;">
      <div class="card-header card-header-danger">
        <h3> Obs Queue </h3> 
        <p></p>
        <a href="/alterQueue.html">
          <button  class="btn btn-default btn-sm" type="button">Rearrange Queue?</button>
        </a>
        <button  class="btn btn-default btn-sm" type="button" onclick="confirmBrightNow()">Force Bright Now?</button>
        <div class="queue-row">
          <span class="queue-head">
            <a class="queue-field">Field</a>
            <a class="queue-design">Design</a>
          </span>
          <span class="queue-obsmode"></span>
          <i class="material-icons delete-field" onclick="confirmFlush()">clear</i>
          <i class="material-icons refresh-field" onclick="confirmRedo()">refresh</i>
          <span>Priority</span>
      </div>
      </div>
      {% if queue|length > 0 %}
        <ul class="list-group" id="queue" style="height: 450px; overflow: auto">
          {{obsQueue(queue)}}
          <li class="list-group-item">
            <button class="btn btn-info" onclick="callQueueExtraField()">Add another design</button>
          </li>
        </ul>
      {% else %}
        <div style="height: 450px; overflow: auto; text-align: center; line-height: 450px;">
          <a>
            <i class="material-icons refresh-field" onclick="redoQueue()">refresh</i>
          </a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="col-lg-3">
    <div style="text-align: center;">
      <h4 id="ql-label">APOGEE reads</h4>
      <canvas id='apql' width="300" height="150"></canvas>
    </div>
    <div class="card">
      <div class="card card-nav-tabs">
        <div class="card-header card-header-danger">
          <h3> Recent Exps </h3>
        </div>
        {% if exposures|length > 0 %}
          {{recentExps(exposures)}}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card">
        <div style="text-align: center;">
          <h4>Most Recent Epoch Status</h4>
        </div>
        <div class="card card-nav-tabs">
          <table class="table" id="epochTable">
            <thead>
              <tr>
                <th class="text-center">Field ID</th>
                <th class="text-center">Designs</th>
                <th class="text-center">MJD</th>
                <th class="text-center">AP</th>
                <th class="text-center">b</th>
                <th class="text-center">r</th>
              </tr>
            </thead>
            <tbody>
                <td class="text-center">00</td>
                <td class="text-center">00</td>
                <td class="text-center">00</td>
                <td class="text-center">00</td>
                <td class="text-center">00</td>
                <td class="text-center">00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="cloudCam">
        <!-- <h3> Cloud Cam </h3> -->
        {%if observatory == 'APO'%}
          <canvas id='myCanvas' width="640" height="480"></canvas>
        {% else %}
          <canvas id='myCanvas' width="480" height="480"></canvas>
        {% endif %}
    </div>
    <div class="row">
      {% for b in backups %}
        <li class="list-group-item">
          <button class="btn btn-primary btn-round" onclick="highlightBackup({{b.field_pk}})" id="backup-{{b.field_pk}}" style="background-color: {{b.color}}; color: black;">Field ID <br> {{b.field_id}} <br> {{b.obs_mode}}</button>
        </li>
      {% endfor %}
      {% if backups|length > 0 %}
        <li class="list-group-item">
          <button class="btn btn-info" onclick="submitReplacement()" style="color:black;" id="submitReplacementField"></button>
        </li>
      {% endif %}
    </div>
  </div>

</div>  

<div class="row">
  <div class="col-md-12">
    <div class="card">
        {{almanacTable(almanac)}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="apogeeViz">
      <div class="row">
        <div class = "col-md-8">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="backup-field-pk"></div>


<style>
    .xaxis text {
      font: 12px sans-serif;
    }

    .xaxis line,
    .xaxis path {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #f44336;
      align-content: center;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
</style>

<script>
    // show the cloud cam image
    // testViz({{apogeeViz| tojson}})
    document.getElementById("backup-field-pk").hidden=true;
    var ignoreTimers = false;
    const showCloudCam = true;

    const vizObj = {{apogeeViz | tojson}};
    const backupFields = {{backups | tojson}};
    const selectedBackup = null;
    var dataset = null;
    var design_ids = [];

    var colorScale = chroma.scale(['yellow', 'red', 'black']);
    for (i=0;i<backupFields.length;i++){
        backupFields[i].color = colorScale(i/backupFields.length).hex()
        let thisButton = document.getElementById("backup-" + backupFields[i].field_pk);
        thisButton.style.backgroundColor = backupFields[i].color;
    }

    // this populates the .<nameViz> div with the visualization
    generateViz(vizObj,".apogeeViz", backupFields);

    function selectField(fieldID){
        toggleOff = false;
        for (i=0;i<dataset.length;i++){
            if(dataset[i].fieldID == fieldID){
                dataset[i].toggleSelected();
            }
        }
        generateViz(vizObj,".apogeeViz", backupFields);
    }

    function highlightBackup(field_pk){
        let idField = document.getElementById("submitReplacementField");
        let pk_holder = document.getElementById("backup-field-pk")
        for (i=0;i<backupFields.length;i++){
            if(backupFields[i].field_pk == field_pk){
                backupFields[i].selected = !backupFields[i].selected;
                if (backupFields[i].selected){
                  idField.innerText = "submit " + backupFields[i].field_id;
                  pk_holder.innerText = backupFields[i].field_pk;
                }
            }
            else{
              backupFields[i].selected = false;
            }
        }
        generateViz(vizObj,".apogeeViz", backupFields);
        // renderCloudCam(dataset, backups);
    }

    function submitReplacement(){
      let idField = document.getElementById("submitReplacementField");
      let pk_holder = document.getElementById("backup-field-pk")
      confirmBackup(idField.innerText.substring(6), pk_holder.innerText);
    }

    function checkComplete(){
        let design_args = "?designs=" + design_ids.join(", ");
        $.getJSON('/designCompletion/' + design_args, function (designs) {
          let expTable = document.getElementById("expTable");
          if (!expTable){
            return
          }
          for (i=0;i<expTable.rows.length;i++) {
            let row = expTable.rows[i];
            let row_design = parseInt(row.cells[0].textContent);
            for (j=0;j<designs.length;j++){
              let design = designs[j];
              if(parseInt(design.design_id) == row_design){
                if(design.status == "done"){
                  row.style.backgroundColor = "rgba(0, 160, 0, 0.6)";
                }
              }
            }
          }
        });
      // setTimeout(checkComplete, 15000);
      };

    function addExps(){
      $.getJSON('/recentExposures/{{mjd}}', function (exps) {
        for (i=0;i<exps.length;i++) {
          let exp = exps[i];
          if(!design_ids.includes(exp.design)){
            design_ids.push(exp.design)
          }
          let expTable = document.getElementById("expTable");
          for (j=0;j<expTable.rows.length;j++) {
            let trow = expTable.rows[j];
            if(parseInt(trow.id) == exp.pk){
              if(trow.cells[3].innerHTML == "--"){
                trow.cells[3].innerHTML = exp.b_camera;
              }
              if(trow.cells[4].innerHTML == "--"){
                trow.cells[4].innerHTML = exp.r_camera;
              }
            }
          };
          let fid = parseInt(expTable.rows[1].id);
          if(exp.pk > fid){
            let row = expTable.insertRow(1);
            row.id = exp.pk;

            let design = row.insertCell(0);
            let time = row.insertCell(1);
            let ap = row.insertCell(2);
            let b_camera = row.insertCell(3);
            let r_camera = row.insertCell(4);

            design.innerHTML = "<a href='designDetail.html?designID=" + exp.design + "'>" + exp.design + "</a>";
            time.innerHTML = exp.timeStamp;
            ap.innerHTML = exp.AP;
            b_camera.innerHTML = exp.b_camera;
            r_camera.innerHTML = exp.r_camera;
          }
        };
      });
    setTimeout(checkComplete, 2000);
    setTimeout(addExps, 5000);
    };

    addExps();

    function refreshForQueue() {
      $.getJSON('/currentQueueLength/', function (currentLength) {
          let qLength = document.getElementsByClassName("queue-buttons").length;
          if (currentLength != qLength & !ignoreTimers){
            window.location.assign("/planObserving.html");
          }
        });

      setTimeout(refreshForQueue, 5000);
    }

    refreshForQueue();

    var qlcnvs = document.getElementById("apql");

    var qlctx = qlcnvs.getContext('2d');

    function drawAPQL() {
      $.getJSON('/latestAPQL/', function (ramp) {
        let h = qlcnvs.height;
        let w = qlcnvs.width;
        let o = 20;

        let x_scale = (w-o)/43;
        let y_scale = (h-o)/35;

        qlctx.rect(0, 0, w, h);
        qlctx.fillStyle = "white";
        qlctx.fill();

        qlctx.font = '14px serif';
        qlctx.fillStyle = "black";
        qlctx.textAlign = "left";
        qlctx.textBaseline = "top";
        qlctx.fillText('reads', w/3, h-12);

        qlctx.font = '14px serif';
        qlctx.fillStyle = "black";
        qlctx.textAlign = "left";
        qlctx.textBaseline = "top";
        qlctx.fillText('28', 0, y_scale*3);

        qlctx.font = '14px serif';
        qlctx.fillStyle = "black";
        qlctx.textAlign = "left";
        qlctx.textBaseline = "top";
        qlctx.fillText('0', o-5, h-o);

        qlctx.font = '14px serif';
        qlctx.fillStyle = "black";
        qlctx.textAlign = "left";
        qlctx.textBaseline = "top";
        qlctx.fillText('43', w-20, h-o);

        qlctx.font = '14px serif';
        qlctx.fillStyle = "green";
        qlctx.textAlign = "left";
        qlctx.textBaseline = "top";
        qlctx.fillText('goal', w-30, h-y_scale*25-o);

        qlctx.font = '14px serif';
        qlctx.fillStyle = "blue";
        qlctx.textAlign = "left";
        qlctx.textBaseline = "top";
        qlctx.fillText('min', w-30, h-y_scale*9-o);

        qlctx.save();
        qlctx.translate(0, h/2);
        qlctx.fillStyle = "black";
        qlctx.rotate(-Math.PI/2);
        qlctx.textAlign = "center";
        qlctx.fillText("[S/N]", 0, 0);
        qlctx.restore();


        qlctx.beginPath();
        qlctx.moveTo(o, h-o);
        qlctx.lineTo(w, h-10*y_scale-o);
        qlctx.lineWidth = 2;
        qlctx.strokeStyle = "blue";
        qlctx.stroke();

        qlctx.beginPath();
        qlctx.moveTo(o, h-o);
        qlctx.lineTo(o, 0);
        qlctx.lineWidth = 1;
        qlctx.strokeStyle = "black";
        qlctx.stroke();

        qlctx.beginPath();
        qlctx.moveTo(o, h-o);
        qlctx.lineTo(w, h-o);
        qlctx.lineWidth = 1;
        qlctx.strokeStyle = "black";
        qlctx.stroke();

        qlctx.beginPath();
        qlctx.moveTo(o, h-28.3*y_scale-o);
        qlctx.lineTo(w, h-28.3*y_scale-o);
        qlctx.setLineDash([5, 15]);
        qlctx.lineWidth = 2;
        qlctx.strokeStyle = "green";
        qlctx.stroke();

        qlctx.beginPath();
        qlctx.setLineDash([]);
        qlctx.moveTo(o, h-o);
        qlctx.lineTo(w, h-28.3*y_scale-o);
        qlctx.lineWidth = 2;
        qlctx.strokeStyle = "green";
        qlctx.stroke();

        let qlLabel = document.getElementById("ql-label")
        qlLabel.innerText = "APOGEE reads: " + ramp.design

        // qlctx.beginPath();
        // qlctx.arc(50, 50, 3, 0, 2 * Math.PI);
        // qlctx.lineWidth = 1;
        // qlctx.strokeStyle = "green";
        // qlctx.stroke();

        // console.log(w, h, x_scale, y_scale)
        for (i=0;i<ramp.reads.length;i++){
          let d = ramp.reads[i];
          // console.log(d[0]*x_scale+o, h-d[1]*y_scale-o)
          qlctx.beginPath();
          qlctx.arc(d[0]*x_scale+o, h-d[1]*y_scale-o, 3, 0, 2 * Math.PI);
          qlctx.lineWidth = 1;
          qlctx.strokeStyle = "red";
          qlctx.stroke();
          }
        });

      setTimeout(drawAPQL, 5000);
    }

    drawAPQL();

    function lastEpoch() {
      $.getJSON('/lastEpoch/', function (last_epoch) {
        let epochTable = document.getElementById("epochTable");
        let trow = epochTable.rows[1];
        let field_html = "<a href='fieldDetail.html?fieldID="
                         + last_epoch.field_id + "&pk="
                         + last_epoch.field_pk + "'>"
                         + last_epoch.field_id + "</a>";
        trow.cells[0].innerHTML = field_html;
        trow.cells[1].innerHTML = last_epoch.label;
        trow.cells[2].innerHTML = last_epoch.mjd;
        trow.cells[3].innerHTML = last_epoch.AP.toFixed(2);
        trow.cells[4].innerHTML = last_epoch.b_camera.toFixed(2);
        trow.cells[5].innerHTML = last_epoch.r_camera.toFixed(2);
        if(last_epoch.done){
          trow.style.backgroundColor = "rgba(0, 160, 0, 0.6)";
          }
        else{
          trow.style.backgroundColor = "rgba(253, 189, 0, 0.6)";
        }
        });

      setTimeout(lastEpoch, 5000);
    }

    lastEpoch();

</script>
{% endblock body %}
