<!DOCTYPE html>
{% macro obsQueue(designs) %}
    {% for des in designs %}
        <li class="list-group-item">
            <div class="queue-row">
                <span onclick="selectField({{des.fieldID}})" class="queue-item">
                    <a class="queue-field field-{{des.fieldID}}">{{des.fieldID}}</a>
                    <a class="queue-design">{{des.designID}}</a>
                </span>
                <i class="material-icons delete-field">clear</i>
                <i class="material-icons refresh-field">refresh</i>
            </div>
        </li>
    {% endfor %}
{% endmacro %}
