<!DOCTYPE html>
{% macro obsQueue(designs) %}
    {% for des in designs %}
        <li class="list-group-item">
            <div class="queue-row">
                <span onclick="selectField({{des.fieldID}})" class="queue-item">
                    <a class="queue-field field-{{des.fieldID}}">
                        <span class="hover-field">{{des.cadence}}</span>{{des.fieldID}}
                    </a>
                    <a class="queue-design">{{des.designID}}</a>
                </span>
                <span class="queue-buttons">
                <i class="material-icons delete-field" onclick="confirmRM({{des.fieldID}})">clear</i>
                <i class="material-icons refresh-field" onclick="confirmReplace({{des.fieldID}})">refresh</i>
                <i class="material-icons clear-from-here" onclick="confirmRedoFromHere({{des.fieldID}})">arrow_downward</i>
                </span>
            </div>
        </li>
    {% endfor %}
{% endmacro %}
