<!DOCTYPE html>
{% macro obsQueue(designs) %}
    {% for des in designs %}
        <li class="list-group-item">
            <div class="queue-row">
                {% if des.position > 0%}
                <span onclick="selectField({{des.fieldID}})" class="queue-item queue-hover">
                    <a class="queue-field field-{{des.fieldID}}">{{des.fieldID}}</a>
                    <a class="queue-design">{{des.designID}}</a>
                    <span class="hover-field">{{des.obs_mode}}</span>
                </span>
                <span class="queue-buttons">
                    <a class="button-container">
                        <i class="material-icons delete-field" onclick="confirmRM({{des.fieldID}}, {{des.field_pk}})">clear</i>
                        <span class="button-hover-field">remove</span>
                    </a>
                    <a class="button-container">
                        <i class="material-icons refresh-field" onclick="confirmReplace({{des.fieldID}}, {{des.field_pk}})">refresh</i>
                        <span class="button-hover-field">replace</span>
                    </a>
                    <!-- <a class="button-container">
                        <i class="material-icons clear-from-here" onclick="confirmRedoFromHere({{des.fieldID}}, {{des.field_pk}})">arrow_downward</i>
                        <span class="button-hover-field">replace from here</span>
                    </a> -->
                </span>
                <span style="color: {{des.priorityColor}}; font-weight:bold; font-size:18px">{{des.priority}}</span>
                {% else %}
                <span class="queue-item queue-done">
                    <a class="queue-field field-{{des.fieldID}}"><s>{{des.fieldID}}</s></a>
                    <a class="queue-design"><s>{{des.designID}}</s></a>
                </span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
{% endmacro %}

{% macro obsQueueStatic(designs) %}
    {% for des in designs %}
        <li class="list-group-item">
            <div class="queue-row">
                {% if des.position > 0%}
                <span onclick="selectField({{des.fieldID}})" class="queue-item">
                    <a class="queue-field field-{{des.fieldID}}">
                        <span class="hover-field">{{des.obs_mode}}</span>{{des.fieldID}}
                    </a>
                    <a class="queue-design">{{des.designID}}</a>
                </span>
                {% else %}
                <span class="queue-item queue-done">
                    <a class="queue-field field-{{des.fieldID}}"><s>{{des.fieldID}}</s></a>
                    <a class="queue-design"><s>{{des.designID}}</s></a>
                </span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
{% endmacro %}
