<!DOCTYPE html>
{% macro fieldCard(field, mjd) %}
    <table class="table" style="display:block;">
      <thead>
        <tr>
          <th class="text-center">Design</th>
          <th class="text-center">bSN2_15</th>
          <th class="text-center">r</th>
          <th class="text-center">b</th>
          <th class="text-center">status</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">&Sigma;</td>
          <td class="text-center"><b>{{"%.1f" % field.bSN2_15}}</b></td>
          <td class="text-center"><b>{{"%.2f" % field.r_camera}}</b></td>
          <td class="text-center"><b>{{"%.2f" % field.b_camera}}</b></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    {% for d in field.designs %}
        <tr>
          <td class="text-center"><a href="/designDetail.html?designID={{d.design_id}}">{{d.design_id}}</a></td>
          <td class="text-center">{{"%.1f" % d.bSN2_15}}</td>
          <td class="text-center">{{"%.2f" % d.r_camera}}</td>
          <td class="text-center">{{"%.2f" % d.b_camera}}</td>
          <td><span id="{{d.design_id}}-status">{{d.status}}</span></td>
          <td>
            <button type="button" class="btn btn-primary btn-man" onclick="changeStatus({{d.design_id}}, 'done', {{mjd}})" disabled>Mark complete</button>
          </td>
          <td>
            <button type="button" class="btn btn-info btn-man" onclick="changeStatus({{d.design_id}}, 'started', {{mjd}})" disabled>Mark started</button>
          </td>
          <td>
            <button type="button" class="btn btn-warning btn-man" onclick="changeStatus({{d.design_id}}, 'not started', {{mjd}})" disabled>Mark not started</button>
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
{% endmacro %}
